@import 'reset';
@import 'variables';
@import 'mixins';

@include declare-font-face('Sharp Sans Medium', 'SharpSansNo1-Medium', 300);
@include declare-font-face('Sharp Sans Light', 'SharpSansNo1-Light', 300);

html{
  height: 100%;
}

body{
  font-size: 16px;
  height: 100%;
  width: 100%;  
  position: relative;
  font-family: 'Sharp Sans Light' , arial, sans-serif;  
}

h1,h2,h3,h4,h5,h6{  
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 20px 0;
}

h1 { @include font-size(2);}
h2, #page-home nav a { @include font-size(2);}
h3 { @include font-size(2);}
h4 { @include font-size(1.8); color: #999}

a, a:hover, a:active, a:focus {
  outline: none;
  border:none;
  -webkit-tap-highlight:none;
  text-decoration: none;
  color: $pink;
}

p{
  line-height: 1.5;
  margin: 0 0 20px 0;
}

.page{
  padding: 20px;
}

#reactor{
  display: none;
}

#page-home{
  padding-bottom: 0;  
  nav, .back{
    display: none;
  }
}

#page-about{
  background-color: $purple;
  color:white;
  .social{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    img{
      width: 100%;
    }
  }
}

#page-works{
  background-color: $gray;
  header{
    margin-bottom: 10px;
    img{
      width: 100%;
    }
  }
}




/* ==========================================================================
   Desktop
========================================================================== */
@media only screen and (min-width : 667px) { 

body{
  overflow: hidden;  
}

#reactor{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  margin: -200px 0 0 -201px;
}
 
canvas{
  margin: 0 auto; 
  display: block;
  background: url(../images/emblem-small.png) no-repeat center center;
  //background-size: 345px auto;
  
}

.page-container, .page{  
  width: 100%;
  height: 100%;
  overflow: hidden;
  top:0;
  left:0;
}

.page-container{
  position: relative;
  padding: 0;

  .page{
    position: absolute;
    padding: 0;
    overflow:auto;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms;
    
    .page-inner{
      padding: 60px 20px;
      header{
        @include clearfix();
        margin-bottom: 40px;
      }
    }
  }

  .page.active{
    z-index: 10;
    opacity: 1;
  }

  #page-home{
    z-index: 100;
    opacity: 1;
  }
}

/* ==========================================================================
   About
========================================================================== */
#page-about{   
  color:black; 
  background: url(../images/me.jpg) left bottom white;
  background-size: cover;
  
  .page-inner{
    width: 35%;      
    margin: 0 40% 0 25%;
  }
}


/* ==========================================================================
   Works
========================================================================== */
#page-works{    
  background-color: $gray;

  .page-inner{
    width: 52%;
    margin: 0 10% 0 38%;
  }
  
  .portfolio{ @include clearfix(); }
  
  .portfolio article{      
    @include clearfix();
    width: 100%;
    margin: 5px 0;        
    background-size: 100% auto;
    padding: 20px 0;    
    border-bottom: 1px solid $darkGray;
    position: relative;
    

    &:last-child{
      border:none;
    }
    
  
    h3,h4{
      margin-bottom: 10px;
    }

    h3{
      @include font-size(1.2);
    }
    
    p{
      margin: 0 0 10px 0;
    }
    

    header{
      position: absolute;
      top:20px;
      left:0;
      width: 30%;

      img{
        display: block;
        width: 100%;
      }
    }

    header + div{
      margin-left: 32%;
      min-height: 160px;
      margin-bottom: 20px;
    }

    footer{
      clear:both;

      p.date, p.tags{
        margin: 0;
        color: darken($darkGray, 20%);
        @include font-size(0.9);
      }
      p.date{
        float: left;
      }

      p.tags{
        text-align: right;
      }

    }
  }
}

/* ==========================================================================
   Home Page
========================================================================== */
#page-home{
  nav, .back{
    display: block;
  }
  .left, .right{
    width: 50%;
    height: 100%;
    position: absolute;
    
    section{  
      position: relative;
      @include clearfix();
      width: 100%;
      height: 100%;     
      nav{
        padding-top: 120px;
      }
      h1{
        position: absolute;
        bottom: 100px;
        color: $pink;
        text-transform: uppercase;
      }
    }

  }

  .left{
    left: 0;
    background: $purple;

    section{    
      float: right;
      text-align: right;
      nav{
        padding-right: 40px;
      }
      h1{
        right:40px;
      } 
    }
    
    a{
      color:white;
    }
  }

  .right{
    right: 0;
    background: $darkGray;

    section{    
      float: left;
      text-align: left;
      nav{
        padding-left: 40px;
      }
      h1{
        left:40px;
      }  
    }
  
    a{
      color: $purple;
    }
  }
}


.back{
  display: block;
  cursor: pointer;
  @include font-size(1.6);
  padding: 5px 0;
  position: absolute;
  top:55px;
  opacity: 0;
}

.right .back{
  right: 40px;
  color: $purple;
}

.left .back{
  left: 40px; 
  color: $pink;
}


}//end mq